@model CardCollector.ViewModels.AdvancedFiltersViewModel
@using CardCollector.Extensions
<div class="row g-3">
    <div class="col-sm-6 col-md-3">
        <label for="filter-card-type" class="form-label">Type</label>
        <select id="filter-card-type" name="cardType" class="form-select form-select-sm">
            <option value="">All</option>
            @foreach (var ct in AdvancedFiltersViewModel.CardTypes)
            {
                <option value="@ct" selected="@(Model.CurrentCardType == ct)">@ct</option>
            }
        </select>
    </div>
    <div class="col-sm-6 col-md-3">
        <label for="filter-set-input" class="form-label">Set</label>
        <input type="text"
               id="filter-set-input"
               name="setName"
               value="@Model.CurrentSetName"
               class="form-control form-control-sm"
               placeholder="Type to filter…"
               list="set-filter-datalist"
               autocomplete="off" />
        <datalist id="set-filter-datalist">
            @foreach (var s in Model.AvailableSetNames)
            {
                <option value="@s">@s</option>
            }
        </datalist>
    </div>
    <div class="col-sm-6 col-md-3">
        <label for="filter-rarity-select" class="form-label">Rarity</label>
        <select id="filter-rarity-select" name="rarityName" class="form-select form-select-sm">
            <option value="">All</option>
            @foreach (var rarity in Model.AvailableRarityNames)
            {
                <option value="@rarity" selected="@(Model.CurrentRarityName == rarity)">@rarity</option>
            }
        </select>
    </div>
    @if (Model.ShowCondition)
    {
        <div class="col-sm-6 col-md-3">
            <label for="filter-condition" class="form-label">Condition</label>
            <select id="filter-condition" name="condition" class="form-select form-select-sm">
                <option value="">All</option>
                @foreach (var cond in Model.AvailableConditions)
                {
                    <option value="@cond" selected="@(Model.CurrentCondition == cond.ToString())">@cond.GetDisplayName()</option>
                }
            </select>
        </div>
    }
    @if (Model.ShowEdition)
    {
        <div class="col-sm-6 col-md-3">
            <label for="filter-edition" class="form-label">Edition</label>
            <select id="filter-edition" name="edition" class="form-select form-select-sm">
                <option value="">All</option>
                @foreach (var ed in Model.AvailableEditions)
                {
                    <option value="@ed" selected="@(Model.CurrentEdition == ed.ToString())">@ed.GetDisplayName()</option>
                }
            </select>
        </div>
    }
    @if (Model.ShowAcquisitionMethod)
    {
        <div class="col-sm-6 col-md-3">
            <label for="filter-acquisition" class="form-label">Acquisition</label>
            <select id="filter-acquisition" name="acquisitionMethod" class="form-select form-select-sm">
                <option value="">All</option>
                @foreach (var am in Model.AvailableAcquisitionMethods)
                {
                    <option value="@am" selected="@(Model.CurrentAcquisitionMethod == am.ToString())">@am.GetDisplayName()</option>
                }
            </select>
        </div>
    }
    @if (Model.ShowCollectionFilters)
    {
        <div class="col-sm-6 col-md-3">
            <label for="filter-collection" class="form-label">Collection</label>
            <select id="filter-collection" name="collectionFilter" class="form-select form-select-sm">
                <option value="">Any</option>
                <option value="yes" selected="@(Model.CurrentCollectionFilter == "yes")">In Collection</option>
                <option value="no" selected="@(Model.CurrentCollectionFilter == "no")">Not In Collection</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-3">
            <label for="filter-ordered" class="form-label">Ordered</label>
            <select id="filter-ordered" name="orderedFilter" class="form-select form-select-sm">
                <option value="">Any</option>
                <option value="yes" selected="@(Model.CurrentOrderedFilter == "yes")">Ordered</option>
                <option value="no" selected="@(Model.CurrentOrderedFilter == "no")">Not Ordered</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-3">
            <label for="filter-wishlist" class="form-label">Wishlist</label>
            <select id="filter-wishlist" name="wishlistFilter" class="form-select form-select-sm">
                <option value="">Any</option>
                <option value="yes" selected="@(Model.CurrentWishlistFilter == "yes")">In Wishlist</option>
                <option value="no" selected="@(Model.CurrentWishlistFilter == "no")">Not In Wishlist</option>
            </select>
        </div>
    }
</div>
