@model CardCollector.ViewModels.SearchBarViewModel
<form method="get" class="row g-2 mb-4">
    <input type="hidden" name="pageNumber" value="1" />
    <div class="col">
        <input type="search"
               name="query"
               value="@Model.Query"
               autocomplete="off"
               class="form-control"
               placeholder="@Model.Placeholder"
               list="@(Model.AutocompleteURL != null ? "card-suggestions" : null)"
               data-autocomplete-url="@Model.AutocompleteURL" />
        @if (Model.AutocompleteURL != null)
        {
            <datalist id="card-suggestions"></datalist>
        }
    </div>
    <div class="col-auto">
        <select name="pageSize" class="form-select">
            @foreach (var size in new[] { 10, 25, 50, 100 })
            {
                if (Model.PageSize == size)
                {
                    <option value="@size" selected>@size per page</option>
                }
                else
                {
                    <option value="@size">@size per page</option>
                }
            }
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
